[Desktop Entry]
Icon=image-jpeg
Name=stock-photo-113171905.jpg
Type=Link
URL[$e]=file://$HOME/Downloads/stock-photo-113171905.jpg
X-KDE-LastOpenedWith=kdialog
