/bash_exports_secret.sh
home/.config/google-chrome/*
/home/.config/Mutate/frequence
home/.config/spotify
/home/.config/scudcloud
home/.config/pulse
home/.config/session
/home/.kde/share/apps/RecentDocuments
/home/.config/trashrc
/home/.config/notificationhelper
/home/.config/htop/htoprc
