#!/bin/bash

green_echo "bash_exports_secret.sh"
green_echo "Exporting some secret variables"

# I put this after an error on brew installation of packages,
# appears something caused by limit reached of requests
# on Github API
# Get the token here https://github.com/settings/tokens/new
export HOMEBREW_GITHUB_API_TOKEN="INSERT_TOKEN_HERE"
