# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Pedro Gomes Tavares
	email = pgtnetwork@gmail.com
[core]
	editor = emacs
	excludesfile = /Users/pgt/.gitignore
[push]
	# Always use the origin/current-branch as the default to
	# push. Avoids unwanteds pushes to master.
	default = current
